@{
    ViewData["Title"] = "Home Page";
}

<h5 class="mb-3">Danh sách rạp</h5>

<a href="#" class="text-dark text-decoration-none">
    <div class="row">
        <div class="col-md-4 col-ld-3">
            <div class="card bg-white">
                <div class="card-body">
                    Rạp 1
                </div>
            </div>
        </div>
    </div>
</a>
